target/
*.DS_Store
.project
.settings
.classpath
minerva-server/blazegraph.jnl
/bin/
*.icloud
minerva-cli/bin/reactome-entities-blazegraph.jnl
*.jnl
minerva-cli/go-cam-schema.shex
minerva-cli/go-cam-shapes.shapeMap
minerva-cli/shape_report_shouldpass.txt
minerva-cli/shape_explanation_shouldpass.txt
minerva-cli/.DS_Store
minerva-cli/.DS_Store
minerva-server/src/test/resources/validate.shapemap
minerva-server/src/test/resources/validate.shex
minerva-server/src/test/resources/validate.shex
