target/
/.DS_Store
.project
.settings
.classpath
minerva-server/blazegraph.jnl
/bin/
minerva-cli/.DS_Store
*.jnl
minerva-cli/src/.DS_Store
minerva-cli/src/main/.DS_Store
minerva-cli/src/main/java/.DS_Store
minerva-cli/src/main/java/org/.DS_Store
minerva-cli/src/main/java/org/geneontology/.DS_Store
minerva-cli/src/main/java/org/geneontology/minerva/.DS_Store
minerva-converter/.DS_Store
minerva-converter/src/.DS_Store
minerva-converter/src/test/.DS_Store
minerva-core/.DS_Store
minerva-server/.DS_Store
minerva-server/src/.DS_Store
minerva-server/src/main/.DS_Store
minerva-server/src/test/.DS_Store
